# Gradle files
.gradle/
build/
app/build/
**/build/

# IDE files
.idea/
*.iml
.kotlin/
*.ipr
*.iws

# Sensitive and Local files
local.properties
**/local.properties
diario_keystore.jks
*.jks
*.keystore
*google-services.json

# System files
.DS_Store
Thumbs.db

# Large binaries or specific project noise
app/Antigravity-x64/
app/Antigravity.tar.gz
*.tar.gz
*.zip
*.apk

# Python / Virtual Envs
venv/
*.py
__pycache__/

# Captures and logs
/captures
.externalNativeBuild
.cxx

# Firebase Service Account
app/src/main/assets/service-account.json


